<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" >
    <link href="{% static 'custom/css/custom_style.css' %}" rel="stylesheet" >
    <link href="{% static 'custom/css/footer.css' %}" rel="stylesheet" >
    <link href="{% static '\bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" >
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %}Default{% endblock title %}</title>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="">Bookstore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'bookstore:orders-show'%}">Orders</a>
            </li>
             <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Catalog
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'bookstore:book-show' %}">Books</a></li>
                <li><a class="dropdown-item" href="{% url 'reference:author-show' %}">Authors</a></li>
                <li><a class="dropdown-item" href="{% url 'reference:series-show' %}">Series</a></li>
                <li><a class="dropdown-item" href="{% url 'reference:genre-show' %}">Genres</a></li>
                <li><a class="dropdown-item" href="{% url 'reference:publish-show' %}">Publishers</a></li>
                {% if perms.auth.manager  or  perms.auth.admin %}
                <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/s-admin/">Administation portal</a></li>
                {% endif %}
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                User: {{user}}
                </a>
                <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Logon</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logoff</a></li>
                <li><hr class="dropdown-divider"></li>
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a></li>
                {% else %}
                    <li><a class="dropdown-item disabled" href="{% url 'accounts:password_change' %}">Change password</a></li>
                    <li><a class="dropdown-item disabled" href="{% url 'accounts:profile' %}">Profile</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search" method="get" action="{% url 'bookstore:book-search' %}">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Fiter
                </a>
                <ul class="dropdown-menu">
                <form action="">
                    <input type="radio" class="btn-check" name="filterby" id="option1" autocomplete="off"
                           value="book" checked>
                    <label class="btn btn-secondary" for="option1">Books</label><br>
                    <input type="radio" class="btn-check" name="filterby" id="option2" autocomplete="off"
                           value="author">
                    <label class="btn btn-secondary" for="option2">Authors</label><br>
                    <input type="radio" class="btn-check" name="filterby" id="option3" autocomplete="off"
                           value="series">
                    <label class="btn btn-secondary" for="option3">Series</label><br>
                    <input type="radio" class="btn-check" name="filterby" id="option4" autocomplete="off"
                           value="genre">
                    <label class="btn btn-secondary" for="option4">Genres</label><br>
                    <input type="radio" class="btn-check" name="filterby" id="option5" autocomplete="off"
                           value="publisher">
                    <label class="btn btn-secondary" for="option5">Publishers</label>
                </form>
                </ul>
            </li>
            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name='qfilter'>
            <button class="btn btn-outline-success" type="submit">Search</button>
            </ul>
          </form>
        </div>
      </div>
    </nav>

    <main class="container">
      <div class="bg-light p-5 rounded">
        {% block body %}Default body{% endblock body %}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Sticky footer.</span>
      </div>
    </footer>
</body>
</html>
