{% extends "base_conf.html" %}
{% block title %}
Main page
{% endblock title %}

{% block body %}
      user = admin, Password =Vbyxtyrjd_C70  [for administation portal]<br>
      user = First, Password =first1234  [group Managers]<br>
      user = Second, Password =second1234  [group Customers]<br>
      user = Third, Password =third1234  [group Admin]<br>
      user = Fourth, Password =fourth1234  [group Managers]<br>
    {% csrf_token %}
    <div class="container">
        <div class="row">
            {% for element in object_list %}
                <div class="card" style="width: 14rem;">
                  {% if element.photo %}
                    <img src="{{ element.photo.url }}" class="card-img-top" alt="..." width="100" height="300">
                  {% else %}
                    <img src="" class="card-img-top" alt="..."  width="100" height="300">
                  {% endif%}
                  <div class="card-body">
                    <h5 class="card-title">{{ element.name }}</h5>
                    <p class="card-text">{{ element.authors }}</p>
                    <a href="{% url 'bookstore:book-detail' pk=element.pk %}" class="btn btn-primary">See more about it</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
