{% extends "base_conf.html" %}
{% load i18n %}
{% block title %}
{% trans "Main page" %}
{% endblock title %}

{% block body %}
      user = admin, Password =Vbyxtyrjd_C70  [for administation portal]<br>
      user = First, Password =first1234  [group Managers]<br>
      user = Second, Password =second1234  [group Customers]<br>
      user = Third, Password =third1234  [group Admin]<br>
      user = Fourth, Password =fourth1234  [group Managers]<br>
    {% csrf_token %}
    <div class="container">
        <br><h3>{% trans "New arrivals" %}</h3>
        <div class="row">
            {% for element in object_list %}
                <div class="card" style="width: 14rem;">
                  {% if element.photo %}
                    <img src="{{ element.photo.url }}" class="card-img-top" alt="..." width="100" height="250">
                  {% else %}
                    <img src="" class="card-img-top" alt="..."  width="100" height="250">
                  {% endif%}
                  <div class="card-body">
                    <h5 class="card-title">{{ element.name }}</h5>
                    <p class="card-text">{{ element.authors }}</p>
                    <a href="{% url 'bookstore:book-detail' pk=element.pk %}" class="btn btn-primary">See more about it</a>
                  </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <br><h3>{% trans "Popular" %}</h3>
        <div class="row">
            {% for element in popular_books %}
                <div class="card" style="width: 16rem;">
                <table>
                <tr><td>
                  {% if element.photo %}
                    <img src="{{ element.photo.url }}" class="card-img-top" alt="...">
                  {% else %}
                    <img src="" class="card-img-top" alt="...">
                  {% endif%}
                  </td>
                  <td>
                  <div class="card-body">
                      <p class="card-text">{{ element.name }}</p>
                    <a href="{% url 'bookstore:book-detail' pk=element.pk %}" class="btn btn-primary">
                        <i class="bi bi-arrow-right-square-fill"></i></a>
                  </div>
                  <td>
                </tr>
                </table>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <br><h3>{% trans "Most often bought" %}</h3>
        <div class="row">
            {% for element in top_books %}
                <div class="card" style="width: 16rem;">
                <table>
                <tr><td>
                  {% if element.photo %}
                    <img src="{{ element.photo.url }}" class="card-img-top" alt="..." >
                  {% else %}
                    <img src="" class="card-img-top" alt="...">
                  {% endif%}
                  </td>
                  <td>
                  <div class="card-body">
                      <p class="card-text">{{ element.name }}</p>
                    <a href="{% url 'bookstore:book-detail' pk=element.pk %}" class="btn btn-primary">
                        <i class="bi bi-arrow-right-square-fill"></i></a>
                  </div>
                  <td>
                </tr>
                </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
