{% extends "base_conf.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{% trans "Update comment" %}
{% endblock title %}

{% block body %}
    {% if perms.bookstore.change_bookcomments %}
    <h1> {% trans "Update existed comment with id = " %}{{ object.pk }}{% trans " in database" %} </h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="{% trans 'Submit' %}">
    </form>
    {% else %}
    <h1> {% trans "You have not rights to change data" %} </h1>
    {% endif %}
{% endblock body %}