{% extends "base_conf.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{% trans "Add comment" %}
{% endblock title %}

{% block body %}
    {% if perms.reference.add_bookcomments %}
    <h1> {% trans "Add comment to the book" %} </h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="{% trans 'Submit' %}">
    </form>
    {% else %}
    <h1> {% trans "You have not rights to add data" %} </h1>
    {% endif %}
{% endblock body %}
