{% extends "base_conf.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{% trans "Update book" %}
{% endblock title %}

{% block body %}
    {% if perms.bookstore.change_book %}
    <h1> {% trans "Update existed book with id = " %}{{ object.pk }}
         {% trans " in database " %}</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success" value="{% trans 'Submit' %}">
    </form>
    {% else %}
    <h1> {% trans "You have not rights to update data" %} </h1>
    {% endif %}
{% endblock body %}
