{% extends "base_conf.html" %}
{% load i18n %}
{% block title %}
{% trans "Display book" %}
{% endblock title %}

{% block body %}
<style>
    td {
        border: 10px solid transparent;
        border-collapse: collapse;
        }
</style>
<h1> {% trans "Information for book" %} '{{ object.name }}' </h1>
    {% csrf_token %}
    <div class="col-md-auto">
        <table border="1" class="table table-bordered table-striped-columns">
            <tbody>
            <tr>
                <td width="30%">
                    {% if object.photo %}
                    <img src="{{ object.photo.url }}" class="card-img-top" alt="..."  width="60" height="500">
                    {% else %}
                    <img src="" class="card-img-top" alt="..."  width="60" height="500">
                    {% endif%}
                </td>
                <td>
                    <table>
                        <tr><td>{% trans "Book" %}:</td>  <td>{{ object.name }}</td></tr>
                        <tr><td>{% trans "Price" %}:</td>
                            <td><form action="{% url 'bookstore:goodsinbasket-create' %}" method="post">
                            {{ object.price }}
                            {% csrf_token %}
                            <input type="number" name="quantity" value="1" step="1" min="1" maxlength="4"
                                   style="width: 5em">
                            <button type="submit" class="btn btn-success">{% trans 'Add to Cart' %}</button>
                            <input type="hidden" name="goods_pk" value="{{object.pk}}">
                            </form></td></tr>
                        <tr><td>{% trans "Author" %}:</td>  <td>{{ object.authors.name }} {{ object.authors.surname }}</td></tr>
                        <tr><td>{% trans "Series" %}:</td>  <td>{{ object.series.name }}</td></tr>
                        <tr><td>{% trans "Genre" %}:</td>  <td>{{ object.genre.name }}</td></tr>
                        <tr><td>{% trans "Publisher" %}:</td>  <td>{{ object.publisher.name }}</td></tr>
                        <tr><td>{% trans "Year of publishing" %}:</td>  <td>{{ object.publish_year }}</td></tr>
                        <tr><td>{% trans "Number of pages" %}:</td>  <td>{{ object.number_of_pages }}</td></tr>
                        <tr><td>{% trans "Cover" %}:</td>  <td>{{ object.cover }}</td></tr>
                        <tr><td>{% trans "Age" %}:</td>  <td>+{{ object.allowed_age }}</td></tr>
                        <tr><td>{% trans "Format" %}:</td>  <td>{{ object.book_format }}</td></tr>
                        <tr><td>{% trans "Weight" %}:</td>  <td>{{ object.weight }}</td></tr>
                        <tr><td>{% trans "ISBN" %}:</td>  <td>{{ object.ISBN }}</td></tr>
                        <tr><td>{% trans "On stock" %}:</td>  <td>{{ object.available }} books</td></tr>
                        <tr><td>{% trans "Rate" %}:</td>  <td>{{ object.rate }}</td></tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Go back</a><br>

    <h3> {% trans "Comments for book" %}</h3><br>
        <table border="1" class="table table-bordered table-striped-columns">
            <thead>
            <tr>
                <th> {% trans "Name" %} </th>
                <th> {% trans "Rate" %} </th>
                <th> {% trans "Text" %} </th>
                <th> {% trans "Created" %} </th>
                <th> {% trans "Updated" %} </th>
                {% if perms.auth.manager  or  perms.auth.admin %}
                <td></td>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for element in book.sortedcomments %}
                    <tr>
                        <td>{{ element.customer.username }}</td>
                        <td> {{ element.rate }}</td>
                        <td> {{ element.comment_text }} </td>
                        <td> {{ element.created }} </td>
                        <td> {{ element.updated }} </td>
                        {% if perms.auth.manager  or  perms.auth.admin %}
                        <td><a href="{% url 'bookstore:bookcomments-update' pk=element.pk %}"
                               class="btn btn-secondary">
                            <i class="bi bi-arrow-right-square-fill"></i></a>
                            <a href="{% url 'bookstore:bookcomments-delete' pk=element.pk %}"
                               class="btn btn-danger">
                            <i class="bi bi-x-square-fill"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
            <tbody>
        </table>
    {% if perms.auth.manager  or  perms.auth.admin or perms.auth.registered_customer %}
    <a href="{% url 'bookstore:bookcomments-create' bookpk=object.pk %}"
            class="btn btn-secondary">{% trans "Add comment" %}</a>
    {% endif %}
{% endblock body %}
