{% extends "base_conf.html" %}
{% load i18n %}
{% block title %}
{% trans "Delete goodsinbasket" %}
{% endblock title %}

{% block body %}
    {% if perms.bookstore.delete_goodsinbasket %}
    <h1> {% trans "Delete book from basket" %} </h1>
    <form action="" method="post">
        {% csrf_token %}
        <h3>{% trans "Book" %}:  {{ object.article.name }}<br>
        </h3>
        <input type="submit" class="btn btn-success" value="{% trans 'Confirm' %}">
    </form>
    {% else %}
    <h1> {% trans "You have not rights to delete data" %} </h1>
    {% endif %}
{% endblock body %}