{% extends "base_conf.html" %}
{% load i18n %}
{% block title %}
{% trans "All customer orders" %}
{% endblock title %}

{% block body %}
<h1> {% trans "All orders of the customer in database" %} </h1>
    {% csrf_token %}
    <div class="col-md-auto">
        <table border="1" class="table table-bordered table-striped-columns">
            <thead>
            <tr>
                {% if perms.auth.manager  or  perms.auth.admin %}
                <th> {% trans "Customer name" %} </th>
                {% endif %}
                <th> {% trans "Order number" %} </th>
                <th> {% trans "Status" %} </th>
                <th> {% trans "Books in order" %} </th>
                <th> {% trans "Sum" %} </th>
                <th> {% trans "Created" %} </th>
                <th> {% trans "Updated" %} </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for element in page_obj %}
                <tr>
                    {% if perms.auth.manager  or  perms.auth.admin %}
                    <td>{{ element.customer.username }}</td>
                    {% endif %}
                    {% if False %}
                    <td><a class="nav-link active" style="text-decoration: underline"
                           href="{% url 'accounts:others_profile' pk=element.customer.pk %}">
                        {{ element.customer.username }}</a></td>
                    {% endif %}
                    <td><a class="nav-link active" style="text-decoration: underline"
                           href="{% url 'bookstore:orders-detail' pk=element.pk %}">
                        {{ element.pk }}</a></td>
                    <td> {{ element.order_status }} </td>
                    <td>{{ element.total_books_number}}</td>
                    <td> {{ element.total_price }} </td>
                    <td> {{ element.created }} </td>
                    <td> {{ element.updated }} </td>
                    {% if perms.auth.manager  or  perms.auth.admin %}
                        <td><a href="{% url 'bookstore:orders-delete' pk=element.pk %}"
                            class="btn btn-danger">{% trans "DELETE" %}</a></td>
                    {% else %}
                        {% if element.order_status == 'not_submitted' or element.order_status == 'created' %}
                            <td><a href="{% url 'bookstore:orders-delete' pk=element.pk %}"
                            class="btn btn-danger">{% trans "DELETE" %}</a></td>
                        {% else %}
                            <td><a href="" class="btn btn-secondary">{% trans "DELETE" %}</a></td>
                        {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    <a href="{% url 'homepage' %}" class="btn btn-secondary">{% trans "Home" %}</a><br>
{% endblock body %}
