{% extends "base_conf.html" %}
{% load i18n %}
{% block title %}
{% trans "Order detail" %}
{% endblock title %}

{% block body %}
<h1> {% trans "All books in order" %} {{basket.pk}}</h1><br>
    {% csrf_token %}
    <div class="col-md-auto">
        <h3> {% trans "Users data for order" %}</h3>
        <table border="1" class="table table-bordered table-striped-columns">
            <tbody>
            <tr><td>{% trans "Status" %}:</td>  <td>{{ object.order_status }}</td></tr>
            <tr><td>{% trans "Phone" %}:</td>  <td>{{ object.contact_phone }}</td></tr>
            <tr><td>{% trans "Country" %}:</td>  <td>{{ object.order_country }}</td></tr>
            <tr><td>{% trans "City" %}:</td>  <td>{{ object.order_city }}</td></tr>
            <tr><td>{% trans "ZIP code" %}:</td>  <td>{{ object.order_zip_code }}</td></tr>
            <tr><td>{% trans "Address" %}:</td>  <td>{{ object.order_address1 }}</td></tr>
            <tr><td>{% trans "Address extra" %}:</td>  <td>{{ object.order_address2 }}</td></tr>
            <tr><td>{% trans "Information" %}:</td>  <td>{{ object.order_information }}</td></tr>
            <tbody>
        </table><br>
        <h3> {% trans "Books in order" %}</h3><br>
        <table border="1" class="table table-bordered table-striped-columns">
            <thead>
            <tr>
                <th> {% trans "Name" %} </th>
                <th> {% trans "Quantity" %} </th>
                <th> {% trans "Price per unit" %} </th>
                <th> {% trans "Price" %} </th>
            </tr>
            </thead>
            <tbody>
                {% for element in basket.goodsinbaskets.all %}
                    <tr>
                        <td><a class="nav-link active" style="text-decoration: underline"
                               href="{% url 'bookstore:book-detail' pk=element.article.pk %}">
                        {{ element.article.name }}</a></td>
                        <td> {{ element.quantity }}</td>
                        <td> {{ element.price }} </td>
                        <td> {{ element.total_sum }} </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>  </td>
                        <td colspan="2">Total</td>
                        <td>{{ basket.total_price }}</td>
                    </tr>
            <tbody>
        </table>
    </div>
    {% if perms.auth.manager  or  perms.auth.admin %}
        <a href="{% url 'bookstore:orders-update' pk=basket.pk %}"
           class="btn btn-secondary">{% trans "Update order" %}</a>
    {% elif perms.auth.registered_customer %}
        {% if object.order_status == 'not_submitted' or object.order_status == 'created' %}
            <a href="{% url 'bookstore:orders-update' pk=basket.pk %}"
            class="btn btn-secondary">{% trans "Update order" %}</a>
        {% endif %}
    {% endif %}
    <a href="{% url 'bookstore:orders-show' %}" class="btn btn-secondary">{% trans "Back to the list of orders" %}</a>
    <a href="{% url 'homepage' %}" class="btn btn-secondary">{% trans "Home" %}</a><br>

    <h3> {% trans "Comments for order" %}</h3><br>
        <table border="1" class="table table-bordered table-striped-columns">
            <thead>
            <tr>
                <th> {% trans "Name" %} </th>
                <th> {% trans "Rate" %} </th>
                <th> {% trans "Text" %} </th>
                <th> {% trans "Created" %} </th>
                <th> {% trans "Updated" %} </th>
                {% if perms.auth.manager  or  perms.auth.admin %}
                <td></td>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for element in basket.sortedcomments %}
                    <tr>
                        <td>{{ element.customer.username }}</td>
                        <td> {{ element.rate }}</td>
                        <td> {{ element.comment_text }} </td>
                        <td> {{ element.created }} </td>
                        <td> {{ element.updated }} </td>
                        {% if perms.auth.manager  or  perms.auth.admin %}
                        <td><a href="{% url 'bookstore:ordercomments-update' pk=element.pk %}"
                               class="btn btn-secondary">
                            <i class="bi bi-arrow-right-square-fill"></i></a>
                            <a href="{% url 'bookstore:ordercomments-delete' pk=element.pk %}"
                               class="btn btn-danger">
                            <i class="bi bi-x-square-fill"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
            <tbody>
        </table>
    {% if perms.auth.manager  or  perms.auth.admin or perms.auth.registered_customer %}
    <a href="{% url 'bookstore:ordercomments-create' basketpk=basket.pk %}"
            class="btn btn-secondary">{% trans "Add comment" %}</a>
    {% endif %}
{% endblock body %}
