<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" >
    <link href="{% static 'custom/css/custom_style.css' %}" rel="stylesheet" >
    <link href="{% static 'custom/css/footer.css' %}" rel="stylesheet" >
    <link href="{% static '\bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" >
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %}Default{% endblock title %}</title>
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="">Profile of User: {{user}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          {% if user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
              </li>
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'accounts:profile' %}">View</a>
              </li>
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'accounts:profile_edit' pk=user.id %}">Edit</a>
              </li>
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'accounts:profile_list' %}">All Customers</a>
              </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>

    <main class="container">
      <div class="bg-light p-5 rounded">
        {% block body %}Default body{% endblock body %}
      </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Sticky footer.</span>
      </div>
    </footer>
</body>
</html>
